.container{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border: solid black;
    border-radius: 12px;
    width: 30%;
}